body
  background: #1a2026
  color: #fff
#app
  display: flex
  height: 100vh
  align-items: center

#guide
  position: relative
  height: 60vh
  margin: 0 auto
  background: black
  canvas
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

#webcam
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  display: none
